<section @fadeInAnimation>
  <ol class="breadcrumb">
      <li><a routerLink="/home">Home</a></li>
      <li class="active">Billing Records</li>
  </ol>

  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

  <h2>Billing Records</h2>

  <a class="btn btn-primary" routerLink="/billing-record/add">Add Billing Record</a>

  <table >
      <tr>
        <th>
          <button (click)="sortBy('id')">ID</button>
          <span class="sortorder" [hidden]="!propertyName === 'id'" [ngClass]="{reverse: reverse}"></span>
        </th>
        <th>
          <button (click)="sortBy('description')">Description</button>
          <span class="sortorder" [hidden]="!propertyName === 'description'" [ngClass]="{reverse: reverse}"></span>
        </th>
        <th>
          <button (click) = "sortBy('client')">Client Name</button>
          <span class="sortorder" [hidden]="!propertyName === 'client'" [ngClass]="{reverse: reverse}"></span>
        </th>
        <th>
            <button (click)="sortBy('rate')">Rate</button>
            <span class="sortorder" [hidden]="!propertyName === 'rate'" [ngClass]="{reverse: reverse}"></span>
        </th>
        <th>
            <button (click)="sortBy('createdBy')">Created By</button>
            <span class="sortorder" [hidden]="!propertyName === 'createdBy'" [ngClass]="{reverse: reverse}"></span>
        </th>
        <th>
            <button (click)="sortBy('status')">Status</button>
            <span class="sortorder" [hidden]="!propertyName === 'status'" [ngClass]="{reverse: reverse}"></span>
        </th>
        <th>
            <button (click)="sortBy('total')">Total</button>
            <span class="sortorder" [hidden]="!propertyName === 'total'" [ngClass]="{reverse: reverse}"></span>
        </th>
        <th>
            <button (click)="sortBy('dueDate')">Due Date</button>
            <span class="sortorder" [hidden]="!propertyName === 'dueDate'" [ngClass]="{reverse: reverse}"></span>
        </th>
      </tr>
      <tr *ngFor="let billingRecord of billingRecords ">
        <td>{{billingRecord.id}}</td>
        <td>{{billingRecord.description}}</td>
        <td>{{billingRecord.client.name}}</td>
        <td>{{(billingRecord.rate && billingRecord.quantity) ? "Rate Based" : "Flat Fee"}}</td>
        <td>{{billingRecord.createdBy.username}}</td>
        <td>{{billingRecord.status}}</td>
        <td>{{billingRecord.total}}</td>
        <td>{{billingRecord.dueDate}}</td>
      </tr>
    </table>


</section>
