<section @fadeInAnimation>
  <h2 class="featurette-heading"><b>Invoicify <span class="text-muted">Invoice Tracker</span>
    <span style="float: right;"><span class="text-muted">By </span><span style="color: #50104A;">Ally Financial</span></span></b></h2>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" height="500px">
      <div class="item active">
        <img src="https://www.ally.com/resources/pres/micro-sites/dealer-brand/images/leadership/hero_image_1152.jpg">
        <div class="carousel-caption">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


      <!-- START THE FEATURETTES -->

      <hr>

      <div class="row featurette">
        <div class="col-lg-12">
          <h2 class="featurette-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum sagittis velit. Etiam a pharetra diam. Ut vitae hendrerit odio, sodales elementum mi. Praesent sagittis, justo id maximus blandit, libero ex aliquet nibh, vitae volutpat ipsum eros et ligula. Proin placerat ex gravida arcu sodales, vitae semper dolor eleifend. Donec fermentum in elit pellentesque consectetur. Ut dictum hendrerit ipsum, a efficitur quam efficitur non. Praesent iaculis arcu odio, a ullamcorper ipsum posuere id. Phasellus ante urna, molestie nec rhoncus a, auctor nec dui. Mauris viverra justo nec nibh mollis sagittis. Vestibulum ipsum felis, malesuada vel ex ut, mollis iaculis ipsum. Donec malesuada quis enim non convallis. Sed faucibus eros id condimentum ullamcorper.
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <p> Etiam in elementum tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque eleifend quam sed mi posuere mattis. Sed at imperdiet turpis. Etiam laoreet nibh id iaculis tempus. Quisque id purus pellentesque, efficitur felis eget, vulputate libero. Fusce id est sit amet purus euismod vulputate. Nullam posuere lectus at sem tristique mattis. Proin ligula metus, finibus vitae arcu sed, mollis posuere sem. Aliquam consequat, erat vel porta eleifend, eros massa vehicula neque, et feugiat lectus ligula ut odio. Quisque ut augue velit. Vivamus massa nibh, blandit vitae quam at, gravida molestie dolor. Proin nec elementum felis.
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="https://media.bizj.us/view/img/2571971/ally-center.png" width="300px" alt="Ally Center, Charlotte">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->
</section>
